body{
  margin:0;
  font-family:'Orbitron',sans-serif;
  background:#020617;
  color:white;
}

.nav{
  background:#000814;
  padding:15px 30px;
  display:flex;
  gap:20px;
}
.nav a{
  color:#9ca3af;
  text-decoration:none;
}
.nav a:hover{color:#38bdf8}

.container{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
}

.card{
  background:rgba(255,255,255,.05);
  padding:20px;
  border-radius:12px;
  margin:15px 0;
}

input,textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:none;
  background:#0b1220;
  color:white;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  background:#38bdf8;
  color:#000;
  cursor:pointer;
}
.launch-btn{
  margin-top:20px;
  padding:14px 24px;
  font-size:16px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:#020617;
  cursor:pointer;
  transition:.3s;
}

.launch-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 0 15px rgba(56,189,248,.7);
}
.center-box{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:40px;
}

.launch-btn{
  padding:16px 28px;
  font-size:18px;
  border:none;
  border-radius:12px;
  background:#38bdf8;
  color:#020617;
  cursor:pointer;
  transition:.3s;
}

.launch-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 0 20px rgba(56,189,248,.8);
}